---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../icons/GitHub.astro';
import AboutIcon from '../icons/About.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import BriefcaseIcon from '../icons/Briefcase.astro';
import MailIcon from '../icons/Mail.astro';
import PdfIcon from '../icons/Pdf.astro';
import CodeIcon from '../icons/Code.astro';
---

<Layout
  title="Portfolio de Mauricio Jourdan - Desarrollador Web Full Satck con 14 años de experiencia"
  description="Soy un desarrollador web Full Stack. Tengo experiencia en todas las etapas del desarrollo web, desde el diseño y la maquetación hasta la programación y el mantenimiento"
>
  <main class="px-4">
    <SectionContainer class="py-40 min-h-[100vh]">
      <h1
        class="text-yellow-200 text-3xl md:text-4xl xl:text-5xl font-bold flex flex-row gap-x-4 justify-center pb-4"
      >
        Mauricio Jourdán
      </h1>
      <a
        href="https://www.linkedin.com/in/mauricio-adrian-jourdan-2104b219/"
        target="_blank"
        rel="noopener"
        class="flex justify-center items-center pb-8 lg:pb-16"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
      <h2 class="text-xl lg:text-2xl text-wrap text-center">
        <p class="text-white/80">
          Desarrollador Web Full Stack. De La Plata, Argentina
        </p>
        <p class="text-white/70 mt-2">
          +10 años de experiencia trabajando en sistemas.
        </p>
      </h2>
      <nav class="flex gap-4 mt-12 flex-wrap justify-center">
        <SocialPill
          href="https://www.linkedin.com/in/mauricio-adrian-jourdan-2104b219/"
        >
          <LinkedInIcon class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/jourdanmauricio/">
          <GitHubIcon class="size-5" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:jourdanmauricio@gmail.com">
          <PdfIcon class="size-4" />
          Descargar CV
        </SocialPill>
        <SocialPill href="mailto:jourdanmauricio@gmail.com">
          <MailIcon class="size-5" />
          jourdanmauricio@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer
      id="experience"
      class="py-24"
    >
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer
      id="projects"
      class="py-24"
    >
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />Ultimos Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer
      id="projects"
      class="py-24"
    >
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <AboutIcon class="size-6" />Sobre Mí
      </h2>
      <About />
    </SectionContainer>
  </main>
</Layout>
