<section>
  <p class="text-gray-200">
    Full Stack Developer con más de 10 años como analista funcional especializado
    en la industria de telecomunicaciones.
  </p>
  <p class="mt-4 text-gray-200">
    Con conocimientos en JavasScript, React, librerías CSS (Tailwind, Bootstrap),
    NodeJS (Express, Nest JS). Con experiencia diseñando soluciones con bases de
    datos, integraciones y análisis de datos que me permitieron desarrollar
    habilidades como trabajo en equipo, comunicación efectiva y resolución de
    problemas.
  </p>
  
  <h3 class="mt-12 text-2xl font-semibold text-yellow-200">Educación</h3>

  <ul class="mt-4">
    <li class="list-disc list-inside">
      Henry - Desarrollo Full Stack
      <p class='ml-8'>ene 2024 - Actualidad</p> 
    </li>
    <li class="list-disc list-inside mt-4">
      Platzi - <a class="underline" href="https://platzi.com/p/jourdanmauricio/">Ver Cursos</a>
      <p class='ml-8'>ene 2022 - ene 2024</p> 
    </li>
    <li class="list-disc list-inside mt-4">
      Universidad Católica de La Plata - Licenciado en análisis de sistemas de
      información
      <p class='ml-8'>mar 1993 - dic 1999</p> 
    </li>
  </ul>
</section>