---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCES = [
  // {
  //   date: 'Ene 2024 - Actualmente...',
  //   title: 'Teaching Assistant',
  //   company: 'Henry',
  //   description: [
  //     'Coordinar a un grupo de estudiantes para lograr la integración al equipo de estudio.',
  //     'Asistir a la resolución de ejercicios y promover la colaboración grupal (Pair Programming).',
  //     'Proponer ideas para la mejora de los procesos del Bootcamp.',
  //   ],
  //   link: '#',
  // },
  {
    date: 'Ene 2014 - Actualidad',
    title: 'Desarrollador Full Stack',
    company: 'Labranzas',
    description: [
      'Participar en el diseño y desarrollo de nuevas funcionalidades y aplicaciones',
      'Realizar pruebas unitarias e integradas para asegurar la calidad del código',
      'Crear diagramas de flujo, maquetas y otros documentos de diseño',
      'Realizar optimizaciones de rendimiento y mejoras en el software',
      'Trabajar de manera colaborativa en un entorno de equipo ágil',
      'Mantener documentación técnica detallada y actualizada',
      'Integración con Marketplace para gestión de productos, preguntas, respuestas y ventas. Agilizando el tiempo de respuesta logramos posicionar organicamente los productos dentro de las primeras posiciones'
    ],
    link: '#',
  },
  {
    date: 'Jun 2011 - Oct 2013',
    title: 'Lider Técnico',
    company: 'Telecom SA',
    description: [
      'Asegurar el cumplimiento de los SLA (Acuerdos de Nivel de Servicio) y KPIs operativos',
      'Gestionar y priorizar incidentes y problemas críticos, asegurando una resolución oportuna',
      'Implementar y supervisar procesos de gestión de incidentes y problemas, garantizando la documentación y el seguimiento adecuados',
      'Realizar pruebas periódicas sobre el parque de clientes',
      'Identificar oportunidades de mejora en los procesos operativos y liderar iniciativas para implementar cambios',
      'Colaborar con otros departamentos para optimizar la eficiencia operativa',
      'Proveer mentoría y capacitación continua al equipo operativo',
      'Fomentar un entorno de aprendizaje y desarrollo profesional dentro del equipo'
    ],
    link: '#',
  },
  {
    date: 'May 2010 - May 2011',
    title: 'Analista Funcional Sr',
    company: 'Indra SA',
    description: [
      'Reunirse con las distintas software factories y usuarios clave para comprender y documentar sus necesidades y expectativas',
      'Realizar análisis detallados de los procesos de negocio actuales y futuros',
      'Elaborar especificaciones funcionales y técnicas complejas',
      'Colaborar estrechamente con los equipos de desarrollo para diseñar y revisar soluciones técnicas que cumplan con los requisitos funcionales',
      'Participar en el diseño de soluciones y diagramas de flujo de procesos',
      'Crear y mantener documentación funcional y técnica exhaustiva',
      'Coordinar con otros equipos para garantizar una entrega exitosa de los proyectos',
      'Definir y ejecutar planes de prueba complejos para asegurar que las soluciones desarrolladas cumplen con los requisitos funcionales y técnicos',
      'Coordinar con el equipo de QA para la validación y pruebas de aceptación de usuario',
      'Identificar y liderar iniciativas de mejora continua en procesos de negocio y sistemas existentes'
    ],
    link: '#',
  },
  {
    date: '2008 - 2010',
    title: 'Jefe - Módulo de errores',
    company: 'Telefonica',
    description: [
      'Identificar y documentar errores reportados por usuarios, testers y equipos de soporte',
      'Clasificar y priorizar errores basándose en su impacto y urgencia',
      'Asignar errores a los equipos de desarrollo correspondientes para su resolución',
      'Monitorear el progreso de la resolución de errores y asegurar que se cumplan los plazos establecidos',
      'Verificar y validar que los errores han sido corregidos adecuadamente antes de cerrar los tickets',
      'Analizar tendencias y patrones en los errores reportados para identificar áreas de mejora en el proceso de desarrollo y prueba',
      'Generar reportes periódicos sobre el estado de los errores y la eficiencia del proceso de resolución',
      'Colaborar con los equipos de desarrollo y calidad para implementar mejores prácticas en la identificación y resolución de errores',
      'Participar en la revisión de código y en sesiones de retroalimentación para prevenir la recurrencia de errores comunes',
      'Mantener documentación actualizada sobre los procedimientos de gestión de errores',
      'Capacitar a los miembros del equipo y a otros departamentos sobre el uso de herramientas y procesos de gestión de errores'
    ],
    link: '#',
  },
    {
    date: '2004 - 2008',
    title: 'Analista Funcional Sr',
    company: 'Telefonica',
    description: [
      'Reunirse con usuarios para comprender sus necesidades y expectativas',
      'Documentar y analizar los procesos de negocio actuales y futuros',
      'Elaborar especificaciones funcionales detalladas',
      'Colaborar con los equipos de desarrollo para diseñar soluciones que cumplan con los requisitos funcionales',
      'Crear y mantener documentación funcional clara y concisa',
      'Preparar manuales de usuario y guías de implementación',
      'Definir y ejecutar planes de prueba para asegurar que las soluciones desarrolladas cumplen con los requisitos funcionales',
      'Coordinar con el equipo de QA para la validación y pruebas de aceptación de usuario',
      'Identificar oportunidades de mejora en los procesos de negocio y sistemas existentes',
      'Proponer y liderar iniciativas de mejora continua'
    ],
    link: '#',
  },
  {
    date: '2000 - 2004',
    company: 'IBM - Adecco - CDA Informática',
    title: 'Analista Programador',
    description: [
      'Reunirse con usuarios y stakeholders para entender y documentar sus necesidades y requerimientos',
      'Realizar análisis de sistemas existentes y procesos de negocio para identificar áreas de mejora',
      'Elaborar especificaciones técnicas y funcionales basadas en los requerimientos recopilados',
      'Diseñar la arquitectura de software y la estructura de bases de datos',
      'Programar y desarrollar aplicaciones utilizando lenguajes de programación como HPS, Shell Script, pl/sql',
      'Realizar pruebas unitarias y de integración para asegurar la calidad del software',
      'Proveer soporte técnico y resolver problemas post-implementación',
      'Crear y mantener documentación técnica detallada'
    ],
    link: '#',
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCES.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
