---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  class={`section-wrap ${className ?? ''}`}
>
  <slot />
</section>

<style>
  .section-wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
</style>
